html {
  font-size: calc(100vw / 1440 * 10);
  line-height: 1;

  @media screen and (max-width: 540px) {
    font-size: calc(100vw / 320 * 10);
  }
}

body {
  font-size: 1.4rem;
  font-weight: 450;
}

*,
*::after,
*::before {
  line-height: 1.25;
  font-family: $font-circular;
}

input,
button {
  display: inline-block;
  border: none;
}
