.post__card {
  &__media {
    position: relative;
    width: 100%;
    height: 18rem;

    @media screen and (min-width: 768px) {
      height: 24rem;
    }

    &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__title {
    @extend %title-24;
  }

  &__excerpt {
    @extend %description-16;
    @extend %clamp;
    margin: 2.4rem 0;
  }

  &__details {
    margin-top: 3.2rem;
  }
}
