.pagination {
  margin-top: 10.4rem;
  display: flex;
  align-items: center;

  &__entries {
    display: flex;
    align-items: center;

    select {
      border: 0.1rem solid $color-blue-ribbon;
      height: 3.6rem;
      width: 6.2rem;
      border-radius: 0.6rem;
      padding: 0 1.6rem;
    }

    > :last-child {
      margin-left: 1rem;
    }
  }
}
