.pagination {
  margin-top: 10.4rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__entries {
    display: flex;
    align-items: center;

    button {
      display: block;
      border-radius: 0.6rem;
      padding: 1.2rem 1.6rem;
    }

    > :last-child {
      margin-left: 1rem;
    }
  }
}
