// colors
$color-blue-ribbon: #0066ff;
$color-white: #ffffff;
$color-black: #000000;
$color-comet: #586283;
$color-lynch: #727ea3;
$color-storm-gray: #6E7191;

// fonts
$font-circular: "Circular Std", sans-serif;
