.blog {
  @include maxWidth(128.8rem);
  margin-top: 6.4rem;

  @media screen and (min-width: 768px) {
    margin-top: 14rem;
  }

  &__articles {
    margin-top: 7.2rem;

    @media screen and (min-width: 768px) {
      margin-bottom: 12rem;
    }

    &__header {
      @extend %title-48;
      margin-bottom: 3.2rem;

      @media screen and (min-width: 768px) {
        margin-bottom: 5.6rem;
      }
    }
    &__grid {
      display: grid;
      gap: 4rem;

      @media screen and (min-width: 768px) {
        gap: 3.2rem;
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

.hero {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    padding-right: 6.4rem;
    align-items: center;
    width: 100%;
  }

  &__media {
    position: relative;
    height: 22rem;

    @media screen and (min-width: 768px) {
      width: 52.5%;
      height: 51.2rem;
    }

    &__image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    margin-top: 4rem;
    @media screen and (min-width: 768px) {
      margin-top: 0rem;
      width: 47.5%;
      padding-left: 8rem;
    }

    > :last-child {
      margin-top: 4rem;
    }
  }

  &__title {
    @extend %title-48;
  }

  &__excerpt {
    @extend %description-20;
    @extend %clamp;
    margin: 2.4rem 0 3.2rem;
    color: $color-comet;
  }
}
