.shapes {
  padding: 3rem 2rem;

  &__title {
    margin-bottom: 4rem;
    font-size: 3rem;
  }

  &__item {
    border: 0.2rem solid rgba(239, 239, 239);
    margin-right: 1.6rem;
    text-transform: capitalize;

    &--active {
      border-color: plum;
      background-color: #dda0dd4d;
    }

    &--shape {
      padding: 1rem 2rem;
      border-radius: 5rem;
    }

    &--color {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }

    &_container {
      margin: 1rem 0 4rem;
      display: flex;
      align-items: center;
    }
  }

  &__grid {
    display: grid;
    gap: 4rem;
    width: 60%;
    margin: 4rem 0;
    padding: 4rem 0;
    grid-template-columns: repeat(6, 1fr);

    > div {
      :not(:first-child) {
        margin-top: 4rem;
      }
    }
  }
}

.shape {
  width: 5rem;
  height: 5rem;
  // color
  &--red {
    background: red;
    border-bottom-color: red;
  }

  &--purple {
    border-bottom-color: purple;
    background: purple;
  }

  &--green {
    border-bottom-color: green;
    background: green;
  }

  &--yellow {
    background: yellow;
    border-bottom-color: yellow;
  }

  &--grey {
    border-bottom-color: grey;
    background: grey;
  }

  &--blue {
    background: blue;
    border-bottom-color: blue;
  }

  // shape
  &-round {
    border-radius: 50%;
  }

  &-square {
  }

  &-triangle {
    width: 0;
    background: none;
    height: 0;
    border-style: solid;
    border-top-width: 0;
    border-left-width: 3.5rem;
    border-right-width: 3.5rem;
    border-bottom-width: 3.5rem;
    border-right-color: transparent;
    border-left-color: transparent;
  }

  &-oval {
    width: 8rem;
    border-radius: 4rem / 2.5rem;
  }

  &-rectangle {
    width: 8rem;
  }
}
